###MLBA

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
train_data = pd.read_csv('train_data.csv')
test_data = pd.read_csv('test_data.csv')

In [ ]:
train_two = []
cur =0
for i in range(train_data.shape[0]):
  z  = len(train_data.iloc[i][0])
  x =0
  for j in range(z):
    y = (ord(train_data.iloc[i][0][j])-65)
    if((y<0 or y>25)==True):
      x=1
      break
  if(x==0):
    train_two.append(train_data.iloc[i])
    cur+=1


train_two = pd.DataFrame(train_two)
train_data = train_two

In [ ]:
train_label = train_data[' Label']

In [ ]:
train_feature20 = []
test_feature20=[]


for i in range(train_data.shape[0]):
  x = []
  for j in range(26):
    x.append(0)
  z = len(train_data.iloc[i][0])
  for j in range(z):
    y = (ord(train_data.iloc[i][0][j])-65)
    x[y]=x[y]+1

  for j in range(26):
    x[j]=x[j]/z
  
  
  train_feature20.append(x)


for i in range(test_data.shape[0]):
  x = []
  for j in range(26):
    x.append(0)
  z = len(test_data.iloc[i][1])
  for j in range(z):
    y = (ord(test_data.iloc[i][1][j])-65)
    x[y]=x[y]+1
  for j in range(26):
    x[j]=x[j]/z
  
  test_feature20.append(x)


test_feature20 = pd.DataFrame(test_feature20)
train_feature20 = pd.DataFrame(train_feature20)

In [ ]:
test_feature2020 = []
test_feature2020 = pd.DataFrame(test_feature2020)
train_feature2020 = []
train_feature2020 = pd.DataFrame(train_feature2020)

test_feature2020 = test_feature20[0]
train_feature2020 = train_feature20[0]

for i in range(1,26):
  if(i!=1 and i!=23 and i!=25 and i!=(ord('J')-65) and i!=(ord('O')-65) and i!=(ord('U')-65)):
    test_feature2020 = pd.concat([test_feature2020,test_feature20[i]],axis=1)
    train_feature2020 = pd.concat([train_feature2020,train_feature20[i]],axis=1)

In [ ]:
arr = []
notar = ['B','X','Z','O','J','U']

notadd = []

posa =[]
for i in range(26):
  for j in range(6):
    notadd.append(i*26+(ord(notar[j])-65))
    notadd.append((ord(notar[j])-65)*26+i)

In [ ]:
notadd

In [ ]:
train_feature = []
test_feature=[]


for i in range(train_data.shape[0]):
  x = []
  for j in range(26*26):
    x.append(0)
  z = len(train_data.iloc[i][0])
  for j in range(z-1):
    y = (ord(train_data.iloc[i][0][j])-65)
    p = (ord(train_data.iloc[i][0][j+1])-65)
    pos = ((y)*26) + p

    x[pos]=x[pos]+1

  for j in range(26*26):
    x[j]=x[j]/z
  
  train_feature.append(x)


for i in range(test_data.shape[0]):
  x = []
  for j in range(26*26):
    x.append(0)
  z = len(test_data.iloc[i][1])
  for j in range(z-1):
    y = (ord(test_data.iloc[i][1][j])-65)
    p = (ord(test_data.iloc[i][1][j+1])-65)
    pos = ((y)*26)+p

    x[pos]=x[pos]+1
  for j in range(26*26):
    x[j]=x[j]/z
  
  test_feature.append(x)
  
test_feature = pd.DataFrame(test_feature)
train_feature = pd.DataFrame(train_feature)

In [ ]:
test_feature1 = []
test_feature1 = pd.DataFrame(test_feature1)
train_feature1 = []
train_feature1 = pd.DataFrame(train_feature1)

In [ ]:
import pandas as pd
test_feature1 = test_feature[0]
train_feature1 = train_feature[0]

for i in range(1,26*26):
  if((i in notadd) == False):
    test_feature1 = pd.concat([test_feature1,test_feature[i]],axis=1)
    train_feature1 = pd.concat([train_feature1,train_feature[i]],axis=1)

In [ ]:
test_feature1 = pd.concat([test_feature1,test_feature2020],axis=1)
train_feature1 = pd.concat([train_feature1,train_feature2020],axis=1)

In [ ]:
train_data

                       Sequence   Label
0            AAAFVNQHLCGSHLVEAL       0
1                  AAAKEAEAHEEI       1
2               AAALPGQPESPDIPG       1
3                 AAALPGQPPDIPG       1
4            AACFKEGSFDEDGFYAKV       0
...                         ...     ...
6388               YYLFEGFYFLQS       1
6389          YYLMDLSYSMKDDLWSI       1
6390        YYRKQLSPLEGGGWLVASG       0
6391                YYSLVTFGQGT       0
6392  YYSTPIEYFNKYSNGNKSVWCQANN       1

[6393 rows x 2 columns]

In [ ]:

from sklearn.ensemble import BaggingClassifier
i=0
y_final=[]
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
# from sklearn.ensemble import RandomForestClassifier

while(i!=1):
  from sklearn import metrics
  from sklearn.ensemble import RandomForestClassifier
  # gnb = BaggingClassifier(base_estimator =RandomForestClassifier(max_depth=60, random_state=42,max_features='sqrt',n_estimators = 1200) , n_estimators = 10)
  
  gnb = RandomForestClassifier(max_depth=60, random_state=83,max_features='sqrt',n_estimators = 2000)
  gnb.fit(train_feature1,train_label)
  y_pred = gnb.predict_proba(test_feature1)
   
  y_final.append(y_pred)
  i+=1

In [ ]:
ans=[]
for i in range(1598):
  ct =0
  for j in range(1):
    ct+=y_final[j][i][1]
  avg = ct/1
  ans.append(avg)

In [ ]:
import pandas as pd
df = pd.DataFrame(ans)
df.columns = ['label']
ID = np.arange(1598) + 10001
ID = pd.DataFrame(ID)
ID.columns = ['ID']
final_data = pd.concat([ID, df], axis=1)
final_data.to_csv('Submission.csv', index=False)
final_data

         ID     label
0     10001  0.492438
1     10002  0.291093
2     10003  0.493040
3     10004  0.350765
4     10005  0.470018
...     ...       ...
1593  11594  0.405885
1594  11595  0.645000
1595  11596  0.787478
1596  11597  0.681089
1597  11598  0.714497

[1598 rows x 2 columns]